<style>
body {
  background: url(<%= asset_path 'shodanbackground.jpg' %>);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<h2 style="color:Lime ">To whom it may concern: the following is a collection of slides are questions gleaned from various old psych tests, movies, and the odd imagination of one half of this coding pair (I’m pretty sure you can guess who). Please don’t use this as a replacement for a real head shrinker or anything of the like. Please, however, understand IBM watson really is reading our lips through this glass door/computer monitor/projection screen. You have been warned.</h2>

<%= link_to "continue?", watsons_path %>