<%= image_tag "disclaimer2.jpg" %>

<h5>(original picture by Jack Ziegler)</h5>
<h1>
Thank you for your patience. Please sit down and relax. The following 
questions will let us get a baseline for your emotions. Please answer in complete sentences to the best of your ability. Remember: there are no right or wrong answers, but for us to interpret your response you must answer with at least a full sentence.  We will start whenever you are ready.
</h1>

<%= link_to "continue?", new_watsons_path %>