<h1>Just what do you think you're doing... Gabe?</h1>
<%= form_for @watson do |f| %>
  <%= f.label :text %>:
  <%= f.text_area :text, :cols => "100", :rows => "10" %><br/>
  <%= f.submit "Save"%>
<% end %>