<%=link_to "Take test", new_watson_path, :class => "btn btn-primary" %>
<br>
<% if user_signed_in? %>
    <p class="alert"><%= alert %></p>
<% end %>
<br>
<h1>Here are all of your previous answers.</h1>
    <% @userwatsons.each do |userwatson| %>
        <% if userwatson.user_id == current_user.id %>
        <%= link_to userwatson.watson.text.truncate(100, separator: ' ', omission: '... (continued)'), watson_path(userwatson.watson) %>
        <%= link_to "Delete", delete_watson_path(userwatson.watson), method: :delete, :class => "btn btn-danger"  %>
        <br>
        <hr>
        <% end %>
    <% end %>