<h1>Here are all of your texts.</h1>

<% @watsons.each do |watson| %>
    <%= link_to watson.text.truncate(100, separator: ' ', omission: '... (continued)'), watson_path(watson) %>
    <br>
    <hr>
<% end %>