<h1>Please answer in the form of full sentences. I know you are capable of it.</h1>
<%= form_for @watson do |f| %>
  <%= f.label :text %>:
  <%= f.text_area :text, :cols => "100", :rows => "10" %><br/>
  <%= f.submit "Save"%>
<% end %>